<div class="gp-device-list header-container">
  <div class="header-item" style="display: flex;">
    <div class="btn-group" role="group" *ngIf="_config.defaultListView === '3'">
      <button type="button" class="btn btn-default" (click)="viewMode = '1';" title="Grid View"><i
          class="dlt-c8y-icon-files header-mode"></i></button>
      <button type="button" class="btn btn-default" (click)="viewMode = '2';" title="List View"><i
          class="dlt-c8y-icon-list header-mode"></i></button>
    </div>
    <!-- <div class="btn-group" role="group" *ngIf="_config.defaultListView === '1'">
      <button type="button" class="btn btn-default" (click)="viewMode = '1';" title="Grid View"><i
          class="dlt-c8y-icon-files header-mode"></i></button>
    </div>
    <div class="btn-group" role="group" *ngIf="_config.defaultListView === '2'">
      <button type="button" class="btn btn-default" (click)="viewMode = '2';" title="List View"><i
          class="dlt-c8y-icon-list header-mode"></i></button>
    </div>
 -->

    <div class="btn-group device-list-switch-toggle ">
      <label class="c8y-switch danger">
        <input type="checkbox" checked="checked" [(ngModel)]="onlyProblems" (change)="filterProblems()">
        <span></span> Attention Required
      </label>
    </div>

  </div>
  <div class="header-item ">
    <div id="search" class="input-group input-group-search">
      <input type="search" class="form-control inputTheme"
        placeholder="Enter Device Name, Id, External Id, Alerts Type, etc." (keyup)="applyFilter()"
        [(ngModel)]="filterValue" />
      <span class="input-group-addon">
        <i c8yIcon="search" *ngIf="!filterValue || filterValue.length === 0"></i>
        <i c8yIcon="times" class="text-muted" *ngIf="filterValue && filterValue.length > 0"
          (click)="filterValue= ''"></i>
      </span>
    </div>
  </div>
  <div class="header-item">
    <div class="refresh-panel">
      <button type="button" class="btn btn-link c8y-realtime btnTheme" title="Toggle realtime" (click)="toggle()">
        <span [ngClass]="realtimeState ? 'c8y-pulse active' : 'c8y-pulse inactive'"></span>
        <span>Realtime</span>
      </button>
      <button type="button" class="btn btn-link" (click)="refresh()"><span class="fa fa-refresh"></span></button>
    </div>

  </div>
</div>
<pagination [style.visibility]="totalRecord === -1? 'hidden': 'visible'" class="m-t-8 m-r-8 p-b-8 pull-right"
  previousText=" " nextText=" " [maxSize]="10" [totalItems]="totalRecord" [itemsPerPage]="pageSize"
  [(ngModel)]="currentPage" (pageChanged)="getPageEvent($event)"></pagination>
<div style="text-align: center;">
  <c8y-loading *ngIf="isBusy"></c8y-loading>
</div>
<div *ngIf="!isBusy && totalRecord > 0 ; else noRecordFound" class="col-sm-12 col-xs-12">
  <div class="card-wrapper" *ngIf="viewMode !== '2' && !isBusy">
    <div class="book " *ngFor="let ndevice of filterData" [ngClass]="{'cover': ndevice.isBookOpen === true}">
      <div class="back"></div>
      <div class="page1">
        <div class="page1-transform">
          <div class="heading open" title="{{ndevice.name}}">{{ndevice.name}}</div>
          <div>
            <div class="display-text-pages" *ngFor="let page1 of _config.p1Props">

              <b>{{page1.label}}</b> :
              <p *ngIf="page1.id === 'creationTime' || page1.id === 'lastUpdated'; else elsePage1 " class="gp-dl-value"
                title="{{ getTheValue(ndevice, page1.value)  | date:'d MMMM yyyy HH:mm'}}">
                {{ getTheValue(ndevice, page1.value) === undefined || getTheValue(ndevice, page1.value).length === 0?
                'Not available' : getTheValue(ndevice, page1.value) | date:'d MMMM yyyy HH:mm' }}
              </p>
              <ng-template #elsePage1>
                <p class="gp-dl-value" title="{{ getTheValue(ndevice, page1.value) }}">
                  {{ getTheValue(ndevice, page1.value) === undefined || getTheValue(ndevice, page1.value).length === 0?
                  'Not available' : getTheValue(ndevice, page1.value)}}
                </p>
              </ng-template>

            </div>
          </div>
        </div>
      </div>
      <div class="page2">
        <span class="page-flip" (click)="ndevice.isBookOpen =  !ndevice.isBookOpen"></span>
        <div class="page2-displayText">
          <div class="heading open" title="{{ndevice.name}}">{{ndevice.name}}</div>
          <div>
            <div class="display-text-pages" *ngFor="let page2 of _config.p2Props">
              <b>{{page2.label}}</b> :
              <p *ngIf="page2.id === 'creationTime' || page2.id === 'lastUpdated'; else elsePage2 " class="gp-dl-value"
                title="{{ getTheValue(ndevice, page2.value) | date:'d MMMM yyyy HH:mm' }}">
                {{ getTheValue(ndevice, page2.value) === undefined || getTheValue(ndevice, page2.value).length === 0?
                'Not available' : getTheValue(ndevice, page2.value) | date:'d MMMM yyyy HH:mm'}}
              </p>
              <ng-template #elsePage2>
                <p class="gp-dl-value" title="{{ getTheValue(ndevice, page2.value) }}">
                  {{ getTheValue(ndevice, page2.value) === undefined || getTheValue(ndevice, page2.value).length === 0?
                  'Not available' : getTheValue(ndevice, page2.value)}}
                </p>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="front">
        <span class="page-flip" (click)="ndevice.isBookOpen =  !ndevice.isBookOpen"></span>
        <div class="heading" title="{{ndevice.name}}">{{ndevice.name}}</div>
        <div class="display-text">Device Id:{{ndevice.id}}</div>
        <div class="device-header-image">
          <span *ngIf="ndevice._boxImage" (click)="navigateURL( ndevice.id, ndevice.type);
                   ndevice.switchToDashboard = true;"><img [src]="ndevice._boxImage"></span>
          <c8y-loading *ngIf="!ndevice._boxImage"></c8y-loading>
        </div>

        <div class="display-text" *ngIf="ndevice.deviceExternalDetails" title="
                {{ndevice.deviceExternalDetails.externalId}}">External
          Id:{{ndevice.deviceExternalDetails.externalId}}
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div class="display-list-divider"></div>

        <div>
          <div class="display-text-pages front-page-ellipsis-parent" *ngFor="let fpProps of _config.fpProps">
            <div class="risk display-text-status display-text-status-green"
              *ngIf="ndevice.availability && fpProps === 'Availability'" [ngClass]="[ndevice.availability === 'UNAVAILABLE' ? 'display-text-status-red ': '',
                       ndevice.availability === 'Partial' ? 'display-text-status-yellow ': '']">
              <i class="fa fw fa-exclamation-triangle"
                *ngIf="ndevice.availability === 'UNAVAILABLE' || ndevice.availability === 'Partial'"></i>
              <ng-template #available><i class="fa fw fa-check-circle"></i></ng-template>
              {{ndevice.availability === 'UNAVAILABLE' ? 'Unavailable' : ndevice.availability === 'AVAILABLE' ?
              'Available' : 'Partial'}}
            </div>
            <div class="fixed-height risk"
              *ngIf="ndevice.alertDetails && fpProps === 'ActiveAlarmsStatus' && isAlerts(ndevice.alertDetails)">
              <span class="display-text " *ngIf="isAlerts(ndevice.alertDetails)"
                [ngClass]="isAlertsColor(ndevice.alertDetails)" title="{{loadText(ndevice.alertDetails)}}">
                <i class="fa fw fa-exclamation-triangle"></i> Alerts
                <span class="badge " [ngClass]="isAlertsBGColor(ndevice.alertDetails)">
                  {{getTotalAlerts(ndevice.alertDetails)}}</span>
              </span>
            </div>
            <div class="fixed-height risk front-page-ellipsis"
              *ngIf="fpProps === 'Other' && getTheValueOther(ndevice, otherProp.value) !== undefined"
              title="{{getTheValueOther(ndevice, otherProp.value)}}">
              {{otherProp.label}} {{ getTheValueOther(ndevice, otherProp.value) }}
            </div>
            <div class="risk " style="text-align: left;"
              *ngIf="ndevice.c8y_Firmware && fpProps === 'FirmwareStatus' && calculateFirmwareRisk(ndevice.c8y_Firmware.version) < 0"
              [ngSwitch]="">
              <span *ngIf="calculateFirmwareRisk(ndevice.c8y_Firmware.version) < 0" [ngClass]="{'warningAlerts2':
                        calculateFirmwareRisk(ndevice.c8y_Firmware.version) === -1,
                        'minorAlerts2': calculateFirmwareRisk(ndevice.c8y_Firmware.version) === -2,
                        'criticalAlerts2': calculateFirmwareRisk(ndevice.c8y_Firmware.version) === -3
                        }">
                <div> <i class=" fa fw fa-exclamation-triangle"></i> Firmware Risk:
                  {{ getFirmwareRisk(ndevice.c8y_Firmware.version) }} </div>
              </span>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewMode === '2' && !isBusy">
    <table mat-table [dataSource]="dataSource" matSort class="device-list-table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row">
          <span class="asset-overview-fake-link" title="{{row.id}}"
            (click)="navigateURL( row.id, row.type)">{{row.id}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row" title="{{row.name}}"> {{row.name}} </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
        <td mat-cell *matCellDef="let row" title="{{row.owner}}"> {{row.owner}} </td>
      </ng-container>

      <ng-container matColumnDef="childDeviceAvailable">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Child Devices </th>
        <td mat-cell *matCellDef="let row" title="{{row.childDeviceAvailable}}"> {{row.childDeviceAvailable}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_Connection.status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Connection</th>
        <td mat-cell *matCellDef="let row" title="{{row.connectionStatus}}"> {{row.connectionStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_Firmware.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firmware Name </th>
        <td mat-cell *matCellDef="let row" title="{{row.firmwareName}}"> {{row.firmwareName}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_Firmware.version">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firmware Status </th>
        <td mat-cell *matCellDef="let row" title="{{row.firmwareStatus}}"> {{row.firmwareStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_Firmware.versionIssues">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firmware Issues </th>
        <td mat-cell *matCellDef="let row" title="{{row.firmwareVersionIssues}}"> {{row.firmwareVersionIssues}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_Firmware.versionIssuesName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Firmware Issues Name </th>
        <td mat-cell *matCellDef="let row" title="{{row.firmwareVersionIssuesName}}"> {{row.firmwareVersionIssuesName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="c8y_RequiredAvailability.responseInterval">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Required availability </th>
        <td mat-cell *matCellDef="let row" title="{{row.responseInterval}}"> {{row.responseInterval}} </td>
      </ng-container>

      <ng-container matColumnDef="deviceExternalDetails.externalId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> External ID </th>
        <td mat-cell *matCellDef="let row" title="{{row.externalId}}"> {{row.externalId}} </td>
      </ng-container>

      <ng-container matColumnDef="deviceExternalDetails.externalType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> External Type </th>
        <td mat-cell *matCellDef="let row" title="{{row.externalType}} "> {{row.externalType}} </td>
      </ng-container>

      <ng-container matColumnDef="lastUpdated">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </th>
        <td mat-cell *matCellDef="let row" title="{{row.lastUpdated | date:'d MMMM yyyy HH:mm'}}"> {{row.lastUpdated |
          date:'d MMMM yyyy HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="creationTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation Time </th>
        <td mat-cell *matCellDef="let row" title="{{row.creationTime | date:'d MMMM yyyy HH:mm'}}"> {{row.creationTime |
          date:'d MMMM yyyy HH:mm'}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_Availability.status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Availability </th>
        <td mat-cell *matCellDef="let row" title="{{row.availability}}"> {{row.availability}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_Notes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Notes </th>
        <td mat-cell *matCellDef="let row" title="{{row.notes}}"> {{row.notes}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let row" title="{{row.type}}"> {{row.type}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_CommunicationMode.mode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Communication Mode </th>
        <td mat-cell *matCellDef="let row" title="{{row.communicationMode}}"> {{row.communicationMode}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_Hardware.model">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hardware Model </th>
        <td mat-cell *matCellDef="let row" title="{{row.hardwareModel}}"> {{row.hardwareModel}} </td>
      </ng-container>

      <ng-container matColumnDef="c8y_ActiveAlarmsStatus">
        <th mat-header-cell *matHeaderCellDef> Alerts </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="isAlerts(row.alertDetails)" [ngClass]="isAlertsColor(row.alertDetails)"
            title="{{loadText(row.alertDetails)}}">
            <span class="badge " [ngClass]="isAlertsBGColor(row.alertDetails)">
              {{getTotalAlerts(row.alertDetails)}}</span>
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="other">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{otherProp.label}} </th>
        <td mat-cell *matCellDef="let row" title="{{ row.other }}"> {{ row.other }} </td>
      </ng-container>

      <!-- Dynamic columns -->
      <ng-container *ngFor="let dynamicColumn of dynamicDisplayColumns" [matColumnDef]="dynamicColumn.value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{dynamicColumn.label}}
        </th>
        <td mat-cell *matCellDef="let row" style="word-wrap: break-word;">
          <span title="{{row[dynamicColumn.value]}}">{{row[dynamicColumn.value]}}</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsForList"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsForList;">
      </tr>
    </table>
  </div>
</div>
<ng-template #noRecordFound>
  <div *ngIf="!isBusy && totalRecord <= 0" class="text-bold text-center text-16">No Asset(s) Found</div>
</ng-template>